.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    position:relative;
    top: 20px;
    margin: 20px;
    height: 150px;
    background-color: green;
}
.side-nav {
    position: relative;
    top: 20px;
    margin: 20px;
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    margin: 20px;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    margin: 10px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin: 10px;
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
    /* TODO - what should go here? */
}