.nav{
    padding:5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-title{
    color: white;
    font-family: 'Roboto', sans-serif;    
}
.nav-links{
    position: relative;
    right: 100px;
    width: 500px;
    display: flex;  
    justify-content:space-evenly;
}
.nonactive{
    color: gray;
}
.active{
    color: white;
}
.btn{

    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    color: white;
    background-color: blue;
}


.whole{
    display: flex;
    justify-content: space-evenly;

}

.left{
    margin: 20px;
    flex: 2;
}

.right{

    margin: 20px;
    
    flex:1;
}

.profile{
    margin: 20px;
    background-color: black;
    height: 300px;
}

.education{
    margin: 20px;
    background-color: black;
    height: 300px;
}
.connections{
    margin: 20px;
    background-color: black;
    height: 150px;

}
.my_connections{
    margin: 20px;
    background-color: black;
    height: 500px;
}